*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flag{
    margin:auto;
    top:20px;
    position: relative;
    height: 600px;
    width: 900px;
    border: 2px solid black;
}
.saffron-color{
    background-color: orange;
}
.white-color{
    background-color: #fff;
}
.green-color{
    background-color: green;
}
.circle{
    /* height: 180px;
    width: 180px;
    border-radius: 50%; */
    position: absolute;
    top:210px;
    left:350px;
}
.height{
    height: 200px;
}
.circle-img{
    height: 185px;
    width: 185px;
}
